body{
	margin: 0px;
}

header{
	display: grid;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 70px;
	grid-template-columns: 1fr 160px;
	margin: 0px;
}

main{
	display: grid;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	margin: 0px;
}

footer{
	padding: 20px;
	padding-top: 10px;
	margin: 0;
}

.container{
	border: 3px solid #000;
}